* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001A9D; /* blue-50 */
  color: #1e3a8a; /* blue-900 */
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}