.homeScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2rem;
  background-color: #FBDCD9;
}

.homeTitle {
  font-size: 3rem;
  color: #001A9D;
  text-align: center;
  margin-top: 4rem;
  font-weight: bold;
}

.imageContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 2rem 0;
}

.bicycleImage {
  width: 100%;
  height: auto;
  color: #001A9D;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.startButton {
  background-color: #001A9D;
  color: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.startButton:hover {
  background-color: #001A9D;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.startButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bikeImage {
  width: 80%; /* Adjust width as needed */
  position: relative;
}